{% extends 'base.html' %}
{% block titulo %}
    categorias
{% endblock %}
{% block contenido %}
<h1 class="title">categorias</h1>
<div class="publicaciones">
    {% for categoria in object_list %}
        <div class="publicacion">
            <div class="text">
                <h3>{{ categoria.name }}</h3>
                <p>{{ categoria.description}}</p>
                <a href="/products/update-category/{{categoria.pk}}/" class="btn btn-primary">Editar</a>
                <a href="/products/delete-category/{{categoria.pk}}/" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}