{% extends 'base.html' %}

{% block titulo %}
    Detalle de publicacion
{% endblock %}

{% block contenido %}
    <h1 class="title" style="margin-left:30rem">Aca va el contenido de detalles de publicacion/h1>
    <div class="publicacion">
        <div class="imgBody">
            <img src="{{ publicacion.image.url }}" alt="{{publicacion.title}}">
        </div>
        <div class="textBody">
            <h3>{{ publicacion.title }}</h3>
            <p>{{publicacion.text}}</p>
        </div>
    </div>

{% endblock %}