{% extends 'base.html' %}
{% block contenido %}
<!--body productos-->
<main class="bodyProductos">
    <h1 class="title">Productos</h1>
    <h2 class="subtitle" id="mates">Mates</h2>
    <!--mates-->
    <div class="productosMates">
        {%for producto in object_list%}
            {% if producto.category.name == 'Mate' %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ producto.imagen.url }}" class="img-fluid" alt="{{producto.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.name}}</h5>
                        <p class="card-text">{{producto.description}}</p>
                        <p class="card-text cardPrice" ><small class="text-muted">${{producto.price}}</small></p>
                        <a href="/products/detail-product/{{producto.pk}}/" class="btn btn-primary">Ver mas!</a>
                    </div>
                </div>
            {% endif %}
        {%endfor%}
    </div>
    <!--termos-->
    <h2 class="subtitle" id="termos">Termos</h2>

    
    <div class="productosTermos">
        {% for producto in object_list %}
            {% if producto.category.name == 'Termo' %}
                <div class="card" style="width: 18rem;">
                    <img src="{{producto.imagen.url}}" class="img-fluid" alt="{{producto.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.name}}</h5>
                        <p class="card-text">{{producto.description}}</p>
                        <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                        <a href="/products/detail-product/{{product.pk}}/" class="btn btn-primary">Ver mas!</a>
                    </div>
                </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--combos-->
    <h2 class="subtitle" id="combos">Combos</h2>
    <div class="productosCombos">
        {%for producto in object_list%}
            {% if producto.category.name == 'Combo' %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ producto.imagen.url }}" class="img-fluid" alt="{{producto.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.name}}</h5>
                        <p class="card-text">{{producto.description}}</p>
                        <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                        <a href="/products/detail-product/{{product.pk}}/" class="btn btn-primary">Ver mas!</a>
                    </div>
                </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--bombillas-->
    <h2 class="subtitle" id="bombillas">Bombillas</h2>
    <div class="productosBombillas">
        {%for producto in object_list%}
            {% if producto.category.name == 'Bombilla' %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ producto.imagen.url }}" class="img-fluid" alt="{{producto.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.name}}</h5>
                        <p class="card-text">{{producto.description}}</p>
                        <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                        <a href="/products/detail-product/{{product.pk}}/" class="btn btn-primary">Ver mas!</a>
                    </div>
                </div>
            {%endif%}
        {%endfor%}                    
    </div>
</main>
{%endblock%}