form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 1rem ;
    fieldset{
        padding: 1.3rem;
        border: solid 0.4rem $color-botones-contacto;
        border-radius: 2rem 0.15rem;
        legend{
            text-align:initial;
            padding: 0.4rem;
        }
        .elementoFormulario{
            border: none;
            margin: 0.3rem 0;
            label{
                font-size: 1.3rem;
            }
            input{
                background-color: $color-botones-contacto;
                padding: 0.4rem;
                border-radius: 1rem;
                border: none;
            }
            select{
                background-color: $color-botones-contacto;
                font-family: $fuente-1;
                font-size: 1rem;
                padding: 0.2rem;
            }
            
            .botonContacto{
                border-radius: 2rem;
                border: none;
                padding: 0.4rem;
                font-family: $fuente-1;
            }
        }
    }
}
.formaContacto{
    background-color: $color-bg;
    padding: 1rem 0.3rem 14rem 0 ;
    p{
        font-size: 1.3rem;
    }
}