form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 1rem ;
    fieldset{
        padding: 1.3rem;
        border: solid 0.4rem  rgb(76, 87, 54);
        border-radius: 2rem 0.15rem;
        legend{
            text-align:initial;
            padding: 0.4rem;
        }
        .elementoFormulario{
            border: none;
            margin: 0.3rem 0;
            label{
                font-size: 1.3rem;
            }
            input{
                background-color: rgb(76, 87, 54) ;
                padding: 0.4rem;
                border-radius: 1rem;
                border: none;
            }
            select{
                background-color: rgb(76, 87, 54) ;
                font-family: 'Hubballi', cursive;
                font-size: 1rem;
                padding: 0.2rem;
            }
            
            .botonContacto{
                border-radius: 2rem;
                border: none;
                padding: 0.4rem;
                font-family: 'Hubballi', cursive;
                font-size: 1.3rem;
            }
        }
    }
}
.formaContacto{
    background-color: rgb(106, 121, 75);
    padding: 1rem 0.3rem 14rem 0 ;
    p{
        font-size: 1.3rem;
    }
}