.body{
    padding: 1.6rem 1rem;
    background-color:$color_bg;
    .imgBody01{
        grid-area: imgBody01;
        @include img-izq;
    }
    .textBody01{
        grid-area: textBody01;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    .imgBody02{
        grid-area: imgBody02;
        @include img-der;
    }
    .textBody02 {
        grid-area: textBody02;
        text-align: end;
        margin-bottom: 1.3rem;
    }
    .imgBody03{
        grid-area: imgBody03;
        @include img-izq;
    }
    .textBody03{
        grid-area: textBody03;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    .imgBody04{
        grid-area: imgBody04;
        @include img-der;
    }
    .textBody04 {
        grid-area: textBody04;
        text-align: end;
        margin-bottom: 1.3rem;
    }
    .enlaceBody{
        background-image: linear-gradient(transparent 0%, transparent 90%, $color-text 90%, $color-text 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 400ms;

        font-weight: 900;
        margin-top: 1rem;
        text-decoration: none ;
        color: black;
        &:hover{
            background-size: 100% 100%;
            background-position-x: left;
        }
    }
    img{
        width: 18rem;
        border-radius: 1.3rem;
    }
}

.cardProducts{
    background-color: $color-bg;
    
    .titleCardProducts{
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    text-align: center;
    }
    .cards{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: inherit;
    }
}