.infoNosotros{
    background-color:$color_bg;
    padding: 1.6rem 1rem;
  }
  .imgNosotros01{
    grid-area: imgNosotros01;
    display: flex;
    justify-content: start;
  }
  .textNosotros01{
    grid-area: textNosotros01;
    text-align: start;
    margin-bottom: 20px;
  }
  .imgNosotros02{
    grid-area: imgNosotros02;
    display: flex;
    justify-content: end;
  }
  .textNosotros02 {
    grid-area: textNosotros02;
    text-align: end;
    margin-bottom: 20px;
  
  }
  .imgNosotros03{
    grid-area: imgNosotros03;
    display: flex;
    justify-content: start;
  }
  .textNosotros03{
    grid-area: textNosotros03;
    text-align: start;
    margin-bottom: 20px;
  }
  
  .infoNosotros img{
    width: 20rem;
    border-radius: 20px;
  }