/*estilos sobre nosotros*/
.infoNosotros{
  background-color:$color_bg;
  padding: 1.6rem 1rem;
  img{
    width: 18rem;
    border-radius: 1.3rem;
  }
  p{
    max-width: 18rem;
  }
}
.imgNosotros01{
  grid-area: imgNosotros01;
  @include img-izq;
}
.textNosotros01{
  grid-area: textNosotros01;
  @include text-izq;
}
.imgNosotros02{
  grid-area: imgNosotros02;
  @include img-der;
}
.textNosotros02 {
  grid-area: textNosotros02;
  @include text-der;

}
.imgNosotros03{
  grid-area: imgNosotros03;
  @include img-izq;
}
.textNosotros03{
  grid-area: textNosotros03;
  @include text-izq;
}
