.infoNosotros{
    background-color:$color_bg;
    padding: 1.6rem 1rem;
  }
  .imgNosotros01{
    grid-area: imgNosotros01;
    @include img-izq;
  }
  .textNosotros01{
    grid-area: textNosotros01;
    text-align: start;
    margin-bottom: 1.3rem;
  }
  .imgNosotros02{
    grid-area: imgNosotros02;
    @include img-der;
  }
  .textNosotros02 {
    grid-area: textNosotros02;
    text-align: end;
    margin-bottom: 1.3rem;
  
  }
  .imgNosotros03{
    grid-area: imgNosotros03;
    @include img-izq;
  }
  .textNosotros03{
    grid-area: textNosotros03;
    text-align: start;
    margin-bottom: 1.3rem;
  }
  
  .infoNosotros{ 
    img{
      width: 1.3rem;
      border-radius: 1.3rem;
    }
  }
