
.bodyTips{
    padding: 1.6rem 1rem;
    background-color:$color_bg;
    .title{
        margin: 2rem 0;
        font-weight: 900;
    }
    .titleTip01{
        grid-area: titleTip01;
        margin-bottom: 2rem;
        font-weight: bold;
    }
    .imgTips01{
        grid-area: imgTips01;
        @include img-izq;
    }
    .textTips01{
        grid-area: textTips01;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    .imgTips02{
        grid-area: imgTips02;
        @include img-izq;
    }
    .textTips02 {
        grid-area: textTips02;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    .imgTips03{
        grid-area: imgTips03;
        @include img-izq;
    }
    .textTips03{
        grid-area: textTips03;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    .imgTips04{
        grid-area: imgTips04;
        @include img-izq;
    }
    .textTips04 {
        grid-area: textTips04;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    .imgTips05{
        grid-area: imgTips05;
        @include img-izq;
        }
    .textTips05 {
        grid-area: textTips05;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    img{
        width: 18rem;
        border-radius: 20px;
    }
    h3{
        font-weight: bold;
    }
}