/*pantallas +650px*/
@media screen and(min-width:650px){
    /*nav y logo*/
    .logo {
        margin-top: 12rem;
        a{
            img{
                height: 7.8rem;
            }
        }
    }  
    .menu {
        a{
            font-size: 1.3rem;
        }
        ul{
            ul{
                li{
                    width: 5.9rem;
                }
            }
        }
    }
  
    /*hero*/
    .h1Hero{
        font-size: 2.6rem;
    }
    .h2Hero{
        font-size: 2.5rem;
    }
    .h3Hero{
        font-size: 1.6rem;
    }


    /*body home*/
    .body{
        grid-template-areas:  "imgBody01 textBody01 textBody01"
                            "textBody02 textBody02 imgBody02" 
                            "imgBody03 textBody03 textBody03"
                            "textBody04 textBody04 imgBody04";
        padding: 1.6rem 2rem;
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
        a{
            font-size: 1.4rem;
        }
        img{
            width: 20rem;
        }
        .imgBody01, .imgBody02, .imgBody03, .imgBody04{
            justify-content: start;
            margin:0 0.5rem 2rem 0.5rem;
        }
    }

    /*productos estacados*/
    
    
    .cardProducts{
        .titleCardProducts{
            font-size: 2.3rem;
        }
    }
  
    /*footer*/
    footer{
        height: 5rem;
        p{
            font-size: 1.3rem;
        }
    }
  
    /*header pages*/
  
    .headerPages{
        display: flex;
        flex-flow: row-reverse;
        justify-content:space-between;
        .logoPages{
            a{
                img{
                    height: 4rem;
                }
            }
        }
    }
    
  
    /*typo*/
    .title{
        text-align: center;
        font-size: 3.4rem;
        padding: 0.7rem 0
    }
    .subtitle{
        text-align: start;
        font-size: 2.6rem;
    }
    .textoPages{
        font-size: 1.5rem;
    }
  
    /*productos*/
  
    .productosMates{
        padding: 2rem 0;
    }
    .productosTermos{
        padding: 2rem 0;
    }
    .productosCombos{
        padding: 2rem 0;
    }
    .productosBombillas{
        padding: 2rem 0;
    }
    
    .card{
        margin: 0.7rem;
        padding: 0.8rem;
        max-width: 12rem;
        img{
            width: 12rem;
        }
        .cardTitle{
            font-size: 1.8rem;
        }
        .cardText{
            margin-top: 0.5rem;
            font-size: 1.4rem;
        }
        .cardPrice{
            font-size: 1.6rem;
            margin-top: 0.6rem;
        }
    }
  
    /*sobre nosotros*/
    .infoNosotros{
        grid-template-areas: "imgNosotros01 textNosotros01 textNosotros01"
                            "textNosotros02 textNosotros02 imgNosotros02"
                            "imgNosotros03 textNosotros03 textNosotros03";
        padding: 2.6rem 2rem;
        .imgNosotros01, .imgNosotros02, .imgNosotros03{
            margin: 0 1rem 2rem 1rem;
        }
        img{
            width: 22rem;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
   
  
  
    /*contacto*/
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9rem 1rem ;
        legend{
            font-size: 2rem;
        }
        select{
            font-size: 1.3rem;
        }
        label{
            font-size: 1.7rem;
        }
        .botonContacto{
            font-size: 1.7rem;
        }
    }
    
    
    .formaContacto{
        margin: 0 0 0 1rem;
        p{
            font-size: 1.7rem;
            margin: 2rem 0;
        }
    }

    /*tips*/
    .bodyTips{
        padding: 2.6rem 2rem;    
        grid-template-areas:    "titleTip01 titleTip01 titleTip01"
                                "imgTips01 textTips01 textTips01"
                                "imgTips02 textTips02 textTips02"
                                "imgTips03 textTips03 textTips03"
                                "imgTips04 textTips04 textTips04"
                                "imgTips05 textTips05 textTips05";
        .imgTips01, .imgTips02, .imgTips03, .imgTips04, .imgTips05{
            margin: 0 0.5rem 2rem 1rem ;
        }
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.2rem;
        }
        img{
            width: 22rem;
        }
    }
}

 /*pantallas +1024px*/

 @media only screen and (min-width:1024px){
    /*nav y logo*/

   .logo {
        margin-top: 14rem;
        a {
            img{
                height: 8.4rem;
            }
        }
    }  
   .menu {
        a{
            font-size: 1.6rem;
        }
        ul {
            ul {
                li{
                    width: 7.1rem;
                }
            }
        }
    }
   
   /*hero*/
   .h1Hero{
       font-size: 3.2rem;
   }
   .h2Hero{
        font-size: 3rem;
    }
   .h3Hero{
        font-size: 2rem;
    }
 
   /*body home*/
   .body{
        padding: 2.6rem 10rem;
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.6rem;
        }
        a{
            font-size: 1.8rem;
        }
        img{
            min-width: 25rem;
        }
        .imgBody01, .imgBody02, .imgBody03, .imgBody04{
            margin:0 1rem 3rem 1rem;
        }
    }

   /*productos estacados*/

    .cardProducts{
        .titleCardProducts{
            font-size: 3rem;
        }
    }
 
   /*footer*/
    footer{
        height: 5.7rem;
        p{
            font-size: 1.8rem;
        }
        img{
            width: 2.5rem;
        }
    }

   /*header pages*/
 
    .logoPages{
        a{
            img{
                height: 5rem;
            }
        }
    }
 
   /*fuentes*/
 
    .title{
        font-size: 4rem;
    }
    .subtitle{
        font-size: 3rem;
    }
    .textoPages{
        font-size: 2rem;
    }
 
   /*productos*/
 
    .productosMates{
        padding: 2.5rem 0;
    }
    .productosTermos{
        padding: 2.5rem 0;
    }
    .productosCombos{
        padding: 2.5rem 0;
    }
    .productosBombillas{
        padding: 2.5rem 0;
    }
   
    .card{
        margin: 1rem;
        padding: 1rem;
        max-width: 15rem;
        img{
            width: 15rem;
        }
        .cardTitle{
            font-size: 2.2rem;
        }
        .cardText{
            margin-top: 0.7rem;
            font-size: 1.8rem;
        }
        .cardPrice{
            font-size: 2rem;
            margin-top: 0.8rem;
        }

    }

 
   /*sobre nosotros*/
   
    .infoNosotros{
        padding: 3.6rem 5rem;
        .imgNosotros01, .imgNosotros02, .imgNosotros03{
            margin: 0 1rem 3rem 1rem;
        }
        img{
            width: 25rem;
        }
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.6rem;
        }
        
    }

   /*contacto*/
    
    form{
        margin: 14rem 1rem ;
        legend{
            font-size: 3rem;
        }
        select{
            font-size: 1.8rem;
        }
        label{
            font-size: 2rem;
        }
        .botonContacto{
            font-size: 2rem;
        }
    }
    
   
    .formaContacto{
        margin: 0 0 0 2rem;
        p{
            font-size: 2rem;
            margin: 1rem 0 4rem 0;
        }
    }


    /*tips*/
    .bodyTips{
        padding: 3.6rem 5rem;
        .imgTips01, .imgTips02, .imgTips03, .imgTips04, .imgTips05{
            margin: 0 0.5rem 3rem 1rem ;
        }
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.6rem;
        }
        img{
            width: 25rem;
        }
    }
}