@mixin img-izq{
    display: flex;
    justify-content: start;
}
@mixin img-der{
    display: flex;
    justify-content: end;
}

@mixin text-izq{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    text-align: justify;
    margin-bottom: 1.7rem;
}
@mixin text-der{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    text-align: justify;
    margin-bottom: 1.7rem;
}