//variables
$color-text: rgb(229, 218, 199);
$color-bg: rgb(106, 121, 75);
$color-border:rgb(72, 88, 56);
$color-botones-contacto:rgb(76, 87, 54);
$color-negro:rgb(39, 39, 39);
$fuente-1:'Hubballi', cursive;
$fuente-2: 'Jost', sans-serif;