/*header pages*/
.headerPages{
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    justify-content:space-between;
    align-items:center;
    background-color: $color-bg;
    .menu{
        ul{
            margin: 0;
            padding-left: 0;
            li{
                box-sizing:content-box;
                a{
                    color: $color-text;
                }
            }
            ul{
                li{
                    a{
                        color:$color-negro;
                    }
                }
            }
        }
    }
    .logoPages{
        a {
            img{
                height: 4rem;
                &:hover{
                    transform: scale(115%);
                    transition: 0.5s;
                }
            }
        }
        
    }
}