/*estilos hero*/

//scroll de la flecha del hero (para que sea smooth)
html{
    scroll-behavior: smooth;
}
.hero{
    display: flex;
    background-image: url(../img/fotos/img1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-flow: column ;
    
    .containerHero{
        padding: 1.3rem;
        border-radius: 1rem;
        margin: auto;
        text-align: center;
        background-color: rgba(0,0,0, 0.3);
        .h1Hero, .h2Hero, .h3Hero{
            margin: 0.3rem;
        }
    }
    .flecha{
        display: flex;
        justify-content: center;
        a{
            transition: 300ms;
            img{
                width: 5rem;
            }
            &:hover{
                transform: scale( 115%) translate(0, 0.7rem);
            } 
        }
    }
}
