/*estilos del nav*/
.header{
    background-color: $color-bg;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    display: absolute;
    a{
    display: inline-block;
    text-decoration: none;
    padding: 0.3rem;
    }
    ul{
        list-style: none;
        li{
            position: relative;
            float: left;
            margin:0;
            padding: 0.3rem 0.8rem;
            transition: 250ms;
            &:hover{
                background-color: map-get($map: $color-nav , $key: bg-standar );
            }
            &:hover > ul{
                display: block;
            }
        }
        ul{
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0;
            li{
                background-color: map-get($map: $color-nav , $key: bg-standar );
                color: $color-negro;
                float: none;
                width: 4.7rem;
                transition: 250ms; 
                &:hover{
                    background-color: map-get($map: $color-nav-hover , $key: bg-hover );
                }
            }
            a{
                color: $color-negro;
                line-height: 120%;
                padding: 0.7rem 1rem;
            }
        }
    }
}