.card{
  border-radius: 15px;
  background-color: rgba(0,0,0, 0.5);
  margin: 0.5rem;
  padding: 0.6rem;
  max-width: 9rem;
  transition: 250ms;
  img{
    width: 9rem;
    border-radius: 10px;
  }
  .cardTitle{
    font-size: 1.3rem;
  }
  .cardText{
    margin-top: 0.3rem;
    font-size: 1.2rem;
    max-width: 15rem;
  }
  .cardPrice{
    @extend .cardTitle;
    color: rgb(5,5,5);
    font-weight: 900;
    margin-top: 0.3rem;
  }
  &:hover{
    transform: scale(110%);
  }
}