/*tipografias y estilos*/
*{
    font-family: $fuente-1;
    color:$color-text;
}
.title{
    text-align: center;
    font-size: 2.8rem;
    padding: 0.7rem 0
}
.subtitle{
    text-align: center;
    font-size: 2rem;
}
.text{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 1.5rem;
}
.h1Hero{
    font-family:$fuente-2;
    font-size: 2rem;
    font-weight: 900;
}
.h2Hero{
    @extend .h1Hero
}
.h3Hero{
    font-family:$fuente-2;
    font-weight:900;
    font-size: 1.3rem;
}
